/* Etiqueta Raiz */
#root{
    display: grid;
    grid-template-areas: 
    "player board"
    "player buttons";
}
.title{
    grid-area: title;
}
.sidebar{
    grid-area: player;
}
.board{
    grid-area: board;
}
.game-controls{
    grid-area: buttons;
}
/* Tablero de Juego */
.board{
    display: grid;
    grid-template-columns: repeat(8,4rem);
    grid-template-rows: repeat(8,4rem);
}
.board > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.board .light{
    background-color: hsl(30, 50%, 60%);
}
.board .dark{
    background-color: hsl(30, 50%, 30%);
}
/* Piezas */
img{
    width: 3.5rem;
    border-radius: 50%;
}
.red{
    background-color: #c33;
}
.black{
    background-color: #333;
}
.blue{
    background-color: #248;
}
.white{
    background-color: #eee;
}
/* Controles */
.game-controls{
    display: flex;
    justify-content: center;
    gap: .25rem;
    padding: .5rem;
}
.btn{
    --color: #333;
    --bg: #eee;
    border-radius: .25rem;
    border: 1px solid var(--color);
    padding: .5rem;
    color: var(--color);
    background-color: var(--bg);
}
.btn:hover{
    color: var(--bg);
    background-color: var(--color);
}
.btn-primary{
    --color: #36c;
}
.btn-danger{
    --color: #c33;
}

/* Background Theme */
.dark-bg{
    background: rgb(18,17,19);
    background: linear-gradient(90deg, rgba(18,17,19,1) 23%, rgba(47,49,50,1) 100%);
}

.light-bg{
    background: rgb(207,243,255);
    background: linear-gradient(90deg, rgba(207,243,255,1) 0%, rgba(139,143,255,1) 66%);
}