.p-static {
  position: static;
}

.p-relative, .gallery {
  position: relative;
}

.p-absolute, .gallery > button, .gallery-item {
  position: absolute;
}

.p-sticky {
  position: sticky;
}

.p-fixed {
  position: fixed;
}

.gallery-item {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gallery > button {
  border: none;
  padding: 1rem;
  color: #eee;
  background-color: transparent;
  font-size: 5vw;
  opacity: 0.4;
}
.gallery > button:hover {
  opacity: 0.8;
}

.gallery {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: min(100vh, 720px);
}
.gallery-item.active {
  z-index: 0;
}
.gallery-item:nth-child(1n) {
  background-image: linear-gradient(#cc9966, #998033);
}
.gallery-item:nth-child(2n) {
  background-image: linear-gradient(#cccc66, #669933);
}
.gallery-item:nth-child(3n) {
  background-image: linear-gradient(#99cc66, #33994d);
}
.gallery-item:nth-child(4n) {
  background-image: linear-gradient(#66cc66, #339999);
}
.gallery-item:nth-child(5n) {
  background-image: linear-gradient(#66cc99, #334d99);
}
.gallery-item:nth-child(6n) {
  background-image: linear-gradient(#66cccc, rebeccapurple);
}
.gallery-item:nth-child(7n) {
  background-image: linear-gradient(#6699cc, #993380);
}
.gallery-item:nth-child(8n) {
  background-image: linear-gradient(#6666cc, #993333);
}
.gallery-item:nth-child(9n) {
  background-image: linear-gradient(#9966cc, #998033);
}
.gallery-item:nth-child(10n) {
  background-image: linear-gradient(#cc66cc, #669933);
}
.gallery-item:nth-child(11n) {
  background-image: linear-gradient(#cc6699, #33994d);
}
.gallery-item:nth-child(12n) {
  background-image: linear-gradient(#cc6666, #339999);
}
.gallery > button {
  top: 0;
  bottom: 0;
}
.gallery > button.icon-prev {
  left: 0;
}
.gallery > button.icon-prev::before {
  content: "<";
}
.gallery > button.icon-next {
  right: 0;
}
.gallery > button.icon-next::before {
  content: ">";
}