$limit: 12;
$position: static, relative, absolute, sticky, fixed;
@each $p in $position{ .p-#{$p}{ position: $p; }}
%cover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
%button{
    border: none;
    padding: 1rem;
    color: #eee;
    background-color: transparent;
    font-size: 5vw;
    opacity: .4;
    &:hover{
        opacity: .8;
    }
}
@mixin pseudo($c){ &::before{ content: $c; } }
.gallery{
    @extend .p-relative;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: min(100vh, 720px);
    &-item{
        @extend .p-absolute, %cover;
        &.active{
            z-index: 0;
        }
        @for $i from 1 through $limit{
            &:nth-child(#{$i}n){
                background-image: linear-gradient(
                    hsl($i * 30, 50%, 60%),
                    hsl($i * 45, 50%, 40%)
                );
            }
        }
    }
    & > button{
        @extend .p-absolute, %button;
        top: 0;
        bottom: 0;
        &.icon{
            &-prev{
                @include pseudo("<");
                left: 0;
            }
            &-next{
                @include pseudo(">");
                right: 0;
            }
        }
    }
}